@font-face {
  font-family: 'Noto Sans';
  src: url('NotoSansCJKkr-Regular.woff2') format('woff2');
  font-style: normal;
  unicode-range: 
    /* Korean */
    U+1100-11FF, U+3130-318F, U+AC00-D7A3, 
    /* Chinese */
    U+2E80-2EFF, U+2F00-2FDF, U+3400-4DBF, U+4E00-9FFF, U+F900-FAFF, 
    /* Japanese */
    U+3040-309F, U+30A0-30FF, U+31F0-31FF, U+FF00-FFEF;
}